.Delete {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  flex: 1;
  padding-top: 40px;
  caption {
    font-weight: 700;
    font-size: 35px;
    margin-top: 30px;
    display: flex;
  }

  button {
    background-color: #c65959;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    margin-bottom: 5px;
    width: 80px;
    margin-left: auto;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
      color: black;
    }
  }
}

.DeleteItemList {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;

  table {
    border-collapse: collapse;
    border: 1px solid gray;
  }
  thead {
    background-color: #fafafa;
    color: #8e8b90;
    th {
      text-align: center;
      border: 1px solid #ddd;
      padding: 10px;
    }
  }

  tbody {
    background-color: #fefefe;
    text-align: center;
    tr {
      border: 1px solid #ddd;
    }
    td {
      height: 30px;
      padding: 10px;
      border: 1px solid #ddd;
    }
  }
}
